<!doctype html>
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Atenea</title>
    <meta name="description" content="Atenea">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

    <link rel="stylesheet" href="/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                    <div class="main-logo">
                    <img class="align-content" src="/images/logo.png" alt="">
                </div>
                <h1 class="title-header">
                       
                    </h1>
                
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Análisis general</h3><!-- /.menu-title -->

                    <li >
                        <a href="/users/userPage"> <i class="menu-icon fa fa-laptop"></i>Estadisticas generales</a>
                    </li>
                    <li >
                        <a href="/users/streamingPage" > <i class="menu-icon ti-car"></i>Flujo vehicular en vivo</a>
                    </li>

                    <li class="active">
                        <a href="/users/environmentPage"> <i class="menu-icon fa fa-pagelines"></i>Análisis ambiental</a>
                    </li>

                    <li>
                            <a href="/users/historyPage" > <i class="menu-icon fa fa-bar-chart"></i>Historico</a>
                    </li>

                    <h3 class="menu-title">Predicciones</h3><!-- /.menu-title -->

                    <li>
                        <a href="/users/accidentPredictionPage"> <i class="menu-icon fa fa-tasks"></i>Accidentabilidad</a>
                    </li>
                    <li>
                        <a href="#"> <i class="menu-icon fa fa-calendar"></i>Fechas festivas</a>
                    </li>


                    <li>
                        <a href="#"> <i class="menu-icon fa fa-area-chart"></i>Semáforos</a>
                    </li>

                    <li>
                            <a href="#"> <i class="menu-icon fa  fa-bell-o"></i>Recomendaciones</a>
                        </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">


                <div class="header-menu">

                        <div class="col-sm-7">
                            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                            <div class="header-left">
                                <button class="search-trigger"><i class="fa fa-search"></i></button>
                                <div class="form-inline">
                                    <form class="search-form">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                        <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                                    </form>
                                </div>
        
                                <div class="dropdown for-notification">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell"></i>
                                        <span class="count bg-danger">0</span>
                                    </button>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-5">
                            <div class="user-area dropdown float-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-avatar rounded-circle" src="/images/user.png" >
                                </a>
        
                                <div class="user-menu dropdown-menu">
                                    <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>
        
                                    <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>
        
                                    <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                                </div>
                            </div>
        
        
        
                        </div>
                    </div>
        
                </header><!-- /header -->
        <!-- .HERE IT GOES HTML FILES    -->
        <div class="breadcrumbs">
                <div class="col-lg-12">
                        <iframe width="100%" height="520" frameborder="0" src="https://sebastianospina51.carto.com/builder/e9b9ae81-258a-4271-8440-dd384d220f0f/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
        </div>
        <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-2"> Promedio particulas Pm2.5 en una hora  por mes - Primer semestre </h4>
                        <canvas id="lineChart2"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-2">Promedio particulas Pm2.5 en una hora  por mes - Segundo semestre </h4>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
          
    <!-- Right Panel -->
    
    <script>
      $('#heatmapChart').epoch({
        type: 'time.heatmap',
        data: heatmapData
      });
    </script>

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/js/main.js"></script>

    <script src="/vendors/flot/excanvas.min.js"></script>  
    <script src="/vendors/peity/jquery.peity.min.js"></script>

    <script src="/js/init-scripts/chart-js/line.js"></script>

    <script>
        
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
