<!doctype html>
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Atenea</title>
    <meta name="description" content="Atenea">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

    <link rel="stylesheet" href="/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                    <div class="main-logo">
                    <img class="align-content" src="/images/logo.png" alt="">
                </div>
                <h1 class="title-header">
                       
                    </h1>
                
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Análisis general</h3><!-- /.menu-title -->

                    <li >
                        <a href="/users/userPage"> <i class="menu-icon fa fa-laptop"></i>Estadisticas generales</a>
                    </li>
                    <li >
                        <a href="/users/streamingPage" > <i class="menu-icon ti-car"></i>Flujo vehicular en vivo</a>
                    </li>

                    <li>
                        <a href="/users/environmentPage"> <i class="menu-icon fa fa-pagelines"></i>Análisis ambiental</a>
                    </li>

                    <li >
                        <a href="/users/historyPage" > <i class="menu-icon fa fa-bar-chart"></i>Historico</a>
                    </li>
                    <h3 class="menu-title">Predicciones</h3><!-- /.menu-title -->

                    <li >
                        <a href="/users/accidentPredictionPage"> <i class="menu-icon fa fa-tasks"></i>Accidentabilidad</a>
                    </li>
                    <li>
                        <a href="#"> <i class="menu-icon fa fa-calendar"></i>Fechas festivas</a>
                    </li>

                    <li class="active">
                            <a href="/users/lightsPage"> <i class="menu-icon fa fa-area-chart"></i>Semáforos</a>
                    </li>

                    <li>
                            <a href="#"> <i class="menu-icon fa  fa-bell-o"></i>Recomendaciones</a>
                        </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">


                <div class="header-menu">

                        <div class="col-sm-7">
                            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                            <div class="header-left">
                                <button class="search-trigger"><i class="fa fa-search"></i></button>
                                <div class="form-inline">
                                    <form class="search-form">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                        <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                                    </form>
                                </div>
        
                                <div class="dropdown for-notification">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell"></i>
                                        <span class="count bg-danger">0</span>
                                    </button>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-5">
                            <div class="user-area dropdown float-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-avatar rounded-circle" src="/images/user.png" >
                                </a>
        
                                <div class="user-menu dropdown-menu">
                                    <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>
        
                                    <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>
        
                                    <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                                </div>
                            </div>
        
        
        
                        </div>
                    </div>
        
                </header><!-- /header -->
        <!-- .HERE IT GOES HTML FILES    -->
        <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a>Semáforos</a></li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>



            <div class="content mt-3">
                
                <div class="animated fadeIn">

                    
        <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">
    
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Semáforos y ubicación</strong>
                                </div>
                                <div class="card-body">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Direccion</th>
                                                <th>Estado</th>
                                                <th>Tiempo verde</th>
                                                <th>Tiempo rojo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Av. Bolivariana x Cl 42</td>
                                                <td>Funcionando</td>
                                                <td>45 segundos</td>
                                                <td>30 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Av. 33 x Cl 43 - San Diego</td>
                                                <td>Funcionando</td>
                                                <td>30 segundos</td>
                                                <td>20 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Av. Las vegas x Cl 18</td>
                                                <td>Requiere atención</td>
                                                <td>40 segundos</td>
                                                <td>15 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>San juan x Ferrocarril</td>
                                                <td>Funcionando</td>
                                                <td>45 segundos</td>
                                                <td>30 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Calle 10</td>
                                                <td>Accountant</td>
                                                <td>40 segundos</td>
                                                <td>25 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Brielle Williamson</td>
                                                <td>Funcionando </td>
                                                <td>50 segundos</td>
                                                <td>40 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Herrod Chandler</td>
                                                <td>Funcionando</td>
                                                <td>27 segundos</td>
                                                <td>25 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Rhona Davidson</td>
                                                <td>Funcionando</td>
                                                <td>30 segundos</td>
                                                <td>30 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Colleen Hurst</td>
                                                <td>Funcionando</td>
                                                <td>27 segundos</td>
                                                <td>17 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Sonya Frost</td>
                                                <td>Funcionando</td>
                                                <td>32 segundos</td>
                                                <td>25 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Jena Gaines</td>
                                                <td>Dañado</td>
                                                <td>37 segundos</td>
                                                <td>30 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Quinn Flynn</td>
                                                <td>Dañado</td>
                                                <td>36 segundos</td>
                                                <td>20 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Charde Marshall</td>
                                                <td>Requiere atención</td>
                                                <td>37 segundos</td>
                                                <td>20 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Haley Kennedy</td>
                                                <td>Funcionando</td>
                                                <td>42 segundos</td>
                                                <td>20 segundos</td>
                                            </tr>
                                            <tr>
                                                <td>Tatyana Fitzpatrick</td>
                                                <td>Requiere atención</td>
                                                <td>35 segundos</td>
                                                <td>30 segundos</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
                       
                    </div>
                </div>



          
    <!-- Right Panel -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/js/init-scripts/data-table/datatables-init.js"></script>
    <script>
        
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
